* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.east-sea dokdo-regular {
    font-family: 'East Sea Dokdo', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

.container {
    width: 800px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.picture {
    width: 90%;
    max-width: 800px;
    margin-bottom: 100px;
}
.text {
    text-align: right;
    margin: 100px 30px 250px 0;
    font-size: 1rem;
    font-weight: bold;
}

/* main-info */
.main-info {
    margin-top: 100px;
}
.main-info-title p {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2rem;
    letter-spacing: 0.8rem;
}
.main-info-location p {
    font-size: 1.8rem;
    text-align: center;
    margin: 10px;
}

/* main-text */
.main-text {
    width: 100%;
    height: auto;
    background-color: #f5c5c5;
    margin: 200px 0 200px 0;
    padding: 30rem 0 30rem 0;
}

.main-text p {
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* greeting */
.greeting {
    width: 100%;
    height: auto;
    background-color: #eee;
    margin: 0 auto;
    padding: 25rem 0 25rem 0;
}

.greeting p {
    font-size: 2.2rem;
}

.greeting div {
    margin-bottom: 8rem;
}

/* Calendar */
.calendar {
    width: 100%;
    height: auto;
    padding-top: 3rem;
    background-color: antiquewhite;
    display: block;
    text-align: center;
}

.title p:nth-child(1) {
    margin-bottom: 4rem;
    font-size: 2.2rem;
    font-weight: bold;
}

.title p:nth-child(2) {
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.divide-line {
    margin: 3rem 3rem;
    border: 0.7px solid rgb(218, 218, 218);
}
.title p {
    font-size: 1.7rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 0.8rem;
    text-align: center;
}
.desc {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.day-row {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
}
.date-column {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
}
.week1 {
    margin-right: 1rem;
}
.week1,
.week2,
.week3,
.week4,
.week5 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 8%;
}
.week5 {
    margin-right: 8rem;
}
.num6 {
    color: white;
}
#Dday {
    z-index: -1;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 30px;
    transform: translate(-0.7rem, -2.5rem);
    background-color: lightpink;
    text-align: center;
}
.sun {
    color: rgba(225, 10, 57, 0.76);
    font-weight: bold;
}
.counting {
    text-align: center;
    font-size: 1.5rem;
}
.counting span {
    color: lightpink;
}

/* map */
.map {
    width: 100%;
    height: auto;
    background-color: aquamarine;
    padding-top: 5rem;
    /* margin-top 5rem; */
    margin: 0 auto;
}

#map {
    display: block;
    margin: 3rem auto;
    text-align: center;
    max-width: 800px;
}

.map p {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.map p:nth-child(2) {
    font-size: 2rem;
}

/* transport */
.transport {
    width: 100%;
    height: auto;
    font-size: 2rem;
    background-color: burlywood;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.transport p {
    text-align: center;
    margin-bottom: 2rem;
}

#subway p:nth-child(1),
#bus p:nth-child(1),
#car p:nth-child(1) {
    font-weight: bold;
}

/* Account */
.padding {
    padding-top: 1.5rem;
}

.divide {
    margin: 0.5rem;
    border: 0.5px solid white;
    opacity: 0.4;
    display: flex;
    justify-content: center;
}

.ul {
    padding: 0;
    /* display: none; */
}

.account-info {
    margin: 5rem 0;
}

.account-info p {
    text-align: center;
    margin: 0;
}

.account-info p {
    font-weight: bold;
    font-size: 1.5rem;
}

.account-info button {
    display: flex;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 1.3rem;
    border: none;
    background: lightpink;
    color: white;
    font-size: 1.2rem;
    width: 15rem;
    height: 3rem;
}

.acc-btn1,
.acc-btn2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.account-row {
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 0 0.7rem 0;
}

.account-row-column-text {
    float: left;
    text-align: start;
}

.account-row-column-text li {
    font-size: 1.3rem;
    margin: 0.6rem 0 0 1rem;
}

.modal-wrap {
    margin: 0 auto;
    display: flex;
    position: relative;
    top: -4rem;
    justify-content: center;
    z-index: 1;
    animation: fadeIn 200ms ease-in-out forwards;
}

.modal-box {
    position: absolute;
    background: lightpink;
    width: 30rem;
    border-radius: 3rem;
    margin: 3rem auto;
}

.modal-content {
    padding: 1rem;
    word-break: break-all;
    max-height: 30rem;
    font-size: 1.6rem;
    text-align: center;
}

.modal-button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1.5rem;
}

.btn-copy {
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem 1rem;
    background: white;
    border-radius: 1.2rem;
    color: black;
    cursor: pointer;
}

.btn-confirm {
    border: none;
    font-size: 1.2rem;
    padding: 1rem 10rem;
    margin: 0 1rem;
    background: white;
    border-radius: 1.2rem;
    color: black;
    cursor: pointer;
}

.account-info p {
    margin-bottom: 2rem;
}

.account-info p:nth-child(1) {
    font-weight: bold;
    font-size: 1.7rem;
}
.account-info p:nth-child(2) {
    font-size: 1.5rem;
    padding-bottom: 3rem;
}
.account-info button {
    display: flex;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    border: none;
    background: lightpink;
    color: white;
    font-size: 1.4rem;
    width: 17rem;
    height: 4rem;
}

@keyframes fadein {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.li {
    list-style-type: none;
}

/* contact */
.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 30rem;
    font-size: 1.5rem;
}

.num {
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: bold;
}

.contact-box {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-evenly;
}

.parents-contact p {
    margin: auto;
}

.contact-1-call img,
.contact-1-msg img {
    margin-right: 1rem;
    width: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 8rem;
    opacity: 0.6;
    margin: 0;
}

.parents {
    margin: 0 0 1rem 0.7rem;
}

.parent p {
    margin-bottom: 2rem;
}

.icon {
    margin-bottom: 0.8rem;
}

.account-row-column-text li:nth-child(2) {
    font-size: 1.2rem;
}

/* gallery */
.carousel-wrapper {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
    margin-top: 9rem;
}

.carousel-wrapper p {
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carousel-wrapper .carousel {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: transform 1s;
    margin-bottom: 9rem;
}

.carousel img {
    width: 100%;
    height: 550px;
}

/* notice */
.notice {
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    margin: 50px auto;
}

.notice_text {
    text-align: center;
    margin-bottom: 2rem;
}

.rights {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
