* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

.container {
    width: 800px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.picture {
    width: 90%;
    max-width: 800px;
    margin-bottom: 100px;
}
.text {
    text-align: right;
    margin: 100px 30px 250px 0;
    font-size: 1rem;
    font-weight: bold;
}

/* main-info */
.main-info {
    margin-top: 30px;
    margin-bottom: 15rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-info-title p {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}

.main-info-title p:nth-child(1) {
    font-size: 2.8rem;
    margin-bottom: 6rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.main-info-title p:nth-child(2) {
    margin-bottom: 6rem;
    font-weight: 555;
}

.main-info-title p span {
    font-size: 2rem;
}

.main-info-location {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 555;
    margin-bottom: 7rem;
}

.main-info-location p:nth-child(1) {
    margin-bottom: 3rem;
}

/* main-text */
.main-text {
    width: 100%;
    height: auto;
    padding: 10rem 0 10rem 0;
    /* background: linear-gradient(to bottom, white, rgba(255, 182, 193, 0.404) white); */
    border: 1px solid lightgrey;
}

.main-text p {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Nanum Brush Script', cursive;
    font-weight: 555;
}

/* greeting */
.greeting {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10rem 0 10rem 0;
    /* border: 1px solid lightgray; */
    margin-bottom: 4rem;
    /* background: linear-gradient(to bottom, white, rgba(255, 182, 193, 0.404) white); */
    background: linear-gradient(to bottom, white, rgba(253, 213, 220, 0.404), white);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 555;
}

.greeting p {
    font-size: 2.2rem;
}

/* Calendar */
.calendar {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    padding-top: 150px;
}

.title p:nth-child(1) {
    margin-bottom: 4rem;
    font-size: 3rem;
    font-weight: bold;
}

.title p:nth-child(2) {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

.divide-line {
    margin: 3rem 3rem;
    border: 0.7px solid rgb(218, 218, 218);
}
.title p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 555;
    font-size: 1.7rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.desc {
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.day-row {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
}
.date-column {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
}
.week1 {
    margin-right: 1rem;
}
.week1,
.week2,
.week3,
.week4,
.week5 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 8%;
}
.week5 {
    margin-right: 8rem;
}
.num6 {
    color: white;
}
#Dday {
    z-index: -1;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 30px;
    transform: translate(-0.7rem, -2.5rem);
    background-color: lightpink;
    text-align: center;
}
.sun {
    color: rgba(225, 10, 57, 0.76);
    font-weight: bold;
}
.counting {
    text-align: center;
    font-size: 1.5rem;
}
.counting span {
    color: lightpink;
}

/* map */
.map {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* #map {
    display: block;
    margin: 3rem auto;
    text-align: center;
    max-width: 800px;
} */

.map p:nth-child(1) {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 555;
    margin-bottom: 2rem;
}

.map p:nth-child(2) {
    font-size: 2.3rem;
    font-weight: 548;
}

/* kakaomap */
.kakao-map {
    height: auto;
    display: block;
    margin: 2rem;
    text-align: center;
}

/* transport */
.transport {
    width: 90%;
    height: auto;
    margin: 2rem;
    display: block;
    text-align: center;
}

/* contact */
.contact {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 555;
}

.num {
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.contact-box {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 555;
}

.contact-1-call img,
.contact-1-msg img {
    width: 2.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    opacity: 0.6;
}

.parent {
    padding: 4rem 2rem 1rem 2rem;
    background-color: rgba(211, 211, 211, 0.16);
    border-radius: 1.5rem;
}

.parents {
    margin-bottom: 1.2rem;
    padding: 1rem;
}

.parent p {
    margin-bottom: 2rem;
}

.icon {
    margin-bottom: 0.8rem;
}

.account-row-column-text li:nth-child(2) {
    font-size: 1.2rem;
}

/* Account */

.divide {
    margin: 0.5rem;
    border: 0.5px solid white;
    opacity: 0.4;
    display: flex;
    justify-content: center;
}

.account-info {
    width: 100%;
    height: auto;
    padding-top: 15rem;
    padding-bottom: 15rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.account-info p {
    text-align: center;
    margin: 5rem;
    font-weight: 555;
}

.account-info button {
    display: flex;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 1.3rem;
    border: none;
    color: white;
}

#acc_m,
#acc_w {
    width: 35rem;
    height: 10rem;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-weight: 480;
}

.acc-btn1,
.acc-btn2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.account-row {
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 0 0.7rem 0;
}

.account-row-column-text {
    float: left;
    text-align: start;
}

.account-row-column-text li {
    font-size: 2rem;
    margin: 1rem 0 0 1rem;
    list-style-type: none;
}

.modal-wrap {
    margin: 0 auto;
    display: flex;
    position: relative;
    top: 22rem;
    justify-content: center;
    z-index: 1;
    animation: fadeIn 200ms ease-in-out forwards;
}

.modal-box {
    position: absolute;
    background: pink;
    width: 48rem;
    border-radius: 3rem;
    margin: 4rem auto;
}

.modal-content {
    padding: 1rem;
    word-break: break-all;
    max-height: 30rem;
    font-size: 2rem;
    text-align: center;
}

.modal-button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1.5rem;
}

.btn-copy {
    height: 4rem;
    border: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 1rem 1rem;
    background: white;
    border-radius: 1.2rem;
    color: black;
    cursor: pointer;
}

.btn-confirm {
    border: none;
    font-size: 1.5rem;
    padding: 1rem 10rem;
    margin: 0 1rem;
    background: white;
    border-radius: 1.2rem;
    color: black;
    cursor: pointer;
}

.account-info p {
    margin-bottom: 2rem;
}

.account-info p:nth-child(1) {
    font-weight: bold;
    font-size: 1.7rem;
}
.account-info p:nth-child(2) {
    font-size: 1.5rem;
    padding-bottom: 3rem;
}
.account-info button {
    display: flex;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    border: none;
    background: rgba(253, 213, 220, 0.404);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    width: 25rem;
    height: 5rem;
}

/* @keyframes fadein {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
} */

/* gallery */
.carousel-wrapper {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
    margin: 5rem auto;
}

.carousel-wrapper p {
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4rem;
}

.carousel-wrapper .carousel {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: transform 1s;
    margin-bottom: 9rem;
}

.carousel img {
    width: 100%;
    height: 550px;
    border-radius: 0.7rem;
}

.indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicators .indicator {
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.indicators .indicator.active {
    background-color: #333;
}

/* notice */
.notice {
    width: 100%;
    height: auto;
    margin: 5rem auto;
    padding: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 555;
}

.notice-text p:nth-child(1) {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.notice-text p:nth-child(2) {
    font-size: 2.2rem;
    margin-bottom: 2.3rem;
}

.notice-text p:nth-child(4) {
    margin-bottom: 2.5rem;
}

.notice-text p {
    font-size: 2rem;
    text-align: center;
}

/* rights */
.rights {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
